@charset "utf-8" body {}

.navbar .container{
    text-align: center;
}
.navbar .container img{
    animation: beat 0.7s ease infinite;
}
@keyframes beat{
    0%{
        transform: scale(1) rotate(0deg);
        box-shadow: 100px #d5093c;
    }
    50%{
        transform: scale(1.1) rotate(0deg);
        box-shadow: 100px #d5093c;
    }
    100%{
        transform: scale(1) rotate(0deg);
        box-shadow: 100px #d5093c;
    }
}

.nav li.active a,.nav li a:hover {
    background-image: linear-gradient(#fb7d1a,#bd1a1b);
    color: #fff;
}

.carousel-control {
    font-size: 100px;
}

.carousel-indicators {
    position: absolute;
}

.content {
    text-align: center;
    padding: 0;
}

h2 {
    line-height: 70px;
    font-weight: bolder;
    background-image: url(../images/separator.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: -5px;
}

ul {
    list-style-type: none;
}

.content-inner {
    text-align: left;
    margin-top: 20px;
}

.picture {
    margin-top: 50px;
}

.activity {}
.snsicon{
height: 80px;
}
footer{
    text-align: center;
}
